<template name="insertCommentForm">
  {{#autoForm validation="submit" schema=insertCommentFormSchema id="insertCommentForm" role="form"}} 
    <div class="form-group{{#if afFieldIsInvalid 'content'}} has-error {{/if}}">
      {{afFieldLabel "content"}}
      {{afFieldInput "content" rows="1" autofocus=""}}
      {{#if afFieldIsInvalid "content"}}
      <span class="help-block">{{afFieldMessage "content"}}</span>
      {{/if}}     
    </div>          
    <div class="form-group">
      <button type="submit" data-meteor-method="insertComment" class="btn btn-default btn-info pull-right">Comment</button>      
    </div>        
  {{/autoForm}}      
</template>